body{
    background-color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pozadi{
    background-color: rgb(51, 212, 212);
    margin: 20px;
    padding: 25px;
    width: 400px;
    border-style: dashed;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.button{
    display: flex;
    justify-content: space-between;
}

.buttons{
    background-color: yellow;
    padding: 6px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border-style: dotted;
    font-weight: bold;
    margin: 10px;
    
}
.buttons2{
    background-color: rgb(16, 211, 16);
    padding: 6px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border-style: dotted;
    font-weight: bold;
    margin: 10px;
}
label{
    text-align: left;
    width: 100px;
}

.flex{
    display: flex;
    justify-content: center;
}
